@model InfoViewModel
@{
	Layout = "_LayoutWithSmallHeader";
}


<div class="intro" id="intro">
	<div class="container">
		<div class="intro_inner">
			<h2 class="intro_suptitle">Спасибо за ожидание</h2>
			<h1 class="intro_title">Скорее всего деталь исправна - вероятность брака: 10%</h1>

			<a class="gradient_button" data-scroll="#more">
				<svg width="277" height="62">
					<rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
				</svg>
				<span>Подробнее</span>
			</a>

		</div><!-- intro_inner -->
	</div><!-- container -->
</div><!-- intro -->



<section class="section" id="more">
	<div class="container">
		<div class="section_header">
			<h2 class="section_title">Как мы это поняли</h2>
			<div class="section_text">
				<p>Ваш файл был проанализирован пятнадцатью моделями. Каждая высказала свое предположение, а мы учли голос всех их. И так вот что получилось:</p>
			</div>
		</div>

		<div class="accordion">

			<div class="accordion_item" data-collapse="#wedo_1">
				<div class="accordion_header">
					<div class="accordion_title">Результаты всех нейронных сетей</div>
				</div>
				<div class="accordion_contant" id="wedo_1">
					<div class="predictions">
						@{
							foreach (KeyValuePair<string, List<double>> predictionByModel in @Model.Predictions)
							{
								<div class="prediction">
									<div class="prediction_content">
										<p class="prediction_name">@predictionByModel.Key</p>
										<p class="prediction_item">Брак: @predictionByModel.Value[0].ToString("F2")%</p>
									</div>
								</div>
							}
						}
					</div>
				</div>
			</div>

		</div>



	</div><!-- container -->
</section>

<footer class="footer" id="contact">
	<div class="container">
		<div class="copyright">
			© 2022     Soothsayer by <a href="https://github.com/Vice-Inc">Vice</a>
		</div>
	</div>
</footer>


@{
	if (Model.Errors != null && Model.Errors.Length > 1)
	{
		<div class="modal show" id="error">
			<div class="modal_dialog">

				<button type="button" data-close class="modal_close">
					<img src="~/images/modal-close-35.png">
				</button>

				<div class="modal_content">

					<div class="text_center">
						<h3 class="modal_title">Ошибка</h3>
						<p class="modal_subtitle">@Model.Errors</p>
					</div>

				</div><!-- modal_content -->

			</div><!-- modal_dialog -->
		</div><!-- modal -->
	}
}