@model IEnumerable<FileModel>
@{
	Layout = "_LayoutWithFullHeader";
}

<div class="intro" id="intro">
	<div class="container">
		<div class="intro_inner">
			<h2 class="intro_suptitle">Дипломный проект</h2>
			<h1 class="intro_title">Soothsayer - определитель жанра музыки</h1>

			<a class="gradient_button" type="button" asp-controller="Upload" asp-action="Index">
				<svg width="277" height="62">
					<rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
				</svg>
				<span>Попробовать</span>
			</a>
		</div><!-- intro_inner -->
	</div><!-- container -->
</div><!-- intro -->



<section class="section" id="about">
	<div class="container">
		<div class="section_header">
			<h3 class="section_suptitle">О проекте</h3>
			<h2 class="section_title">Что мы делаем</h2>
			<div class="section_text">
				<p>Данный проект предназначен для определения жарна музыки по загруженному файлу. Приложение выведет результаты с вероятностями принадлежности вашего трека к одному из десяти жанров музыки: блюз, классика, кантри, диско, хип-хоп, джаз, металл, поп, регги, рок. Точность опредения - до 82%.</p>
			</div>
		</div>

	</div><!-- container -->
</section>



<section class="section" id="genres">
	<div class="container">

		<div class="section_header">
			<h3 class="section_suptitle">Жанры музыки</h3>
			<h2 class="section_title">Ознакомьтесь подробнее с жанрами музыки</h2>
		</div>

		<div class="card">
			<div class="card_item">
				<div class="card_inner">
					<div class="card_img">
						<img src="~/images/about/1.jpg" alt="">
					</div>
					<div class="card_text">Блюз</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_inner">
					<div class="card_img">
						<img src="~/images/about/2.jpg" alt="">
					</div>
					<div class="card_text">Классика</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_inner">
					<div class="card_img">
						<img src="~/images/about/3.jpg" alt="">
					</div>
					<div class="card_text">Кантри</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_inner">
					<div class="card_img">
						<img src="~/images/about/4.jpg" alt="">
					</div>
					<div class="card_text">Диско</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_inner">
					<div class="card_img">
						<img src="~/images/about/5.jpg" alt="">
					</div>
					<div class="card_text">Хип-хоп</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_inner">
					<div class="card_img">
						<img src="~/images/about/6.jpg" alt="">
					</div>
					<div class="card_text">Джаз</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_inner">
					<div class="card_img">
						<img src="~/images/about/7.jpg" alt="">
					</div>
					<div class="card_text">Металл</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_inner">
					<div class="card_img">
						<img src="~/images/about/8.jpg" alt="">
					</div>
					<div class="card_text">Поп</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_inner">
					<div class="card_img">
						<img src="~/images/about/9.jpg" alt="">
					</div>
					<div class="card_text">Регги</div>
				</div>
			</div>
			<div class="card_item">
				<div class="card_inner">
					<div class="card_img">
						<img src="~/images/about/10.jpg" alt="">
					</div>
					<div class="card_text">Рок</div>
				</div>
			</div>
		</div>

	</div><!-- container -->
</section>


<section class="section section-blue" id="technologies">
	<div class="container">
		<div class="section_header">
			<h3 class="section_suptitle">О проекте</h3>
			<h2 class="section_title">Что мы используем</h2>
		</div>

		<div class="technologies">

			<div class="technology">
				<img class="technology_img" src="https://upload.wikimedia.org/wikipedia/commons/e/ee/.NET_Core_Logo.svg" alt="">
			</div>
			<div class="technology">
				<img class="technology_img" src="~/images/logos/python.svg" alt="">
			</div>
			<div class="technology">
				<img class="technology_img" src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Keras_logo.svg" alt="">
			</div>
			<div class="technology">
				<img class="technology_img" src="~/images/logos/tensorflow.svg" alt="">
			</div>

		</div>
	</div><!-- container -->
</section>


<section class="section" id="contact">
	<div class="container">
		<div class="section_header">
			<h3 class="section_suptitle">Об авторе</h3>
			<h2 class="section_title">Контакты</h2>
			<div class="section_text">
				<p>Московский Авиационный институт</p>
				<p>(Национальный исследовательский университет)</p>
				<div class="mai_img">
					<img src="~/images/mai.jpg" alt="">
				</div>
				<p>Институт №8</p>
				<p>«Информационные технологии и прикладная математика»</p>
				<p>Кафедра 813</p>
				<p>«Компьютерная математика»</p>
				<p>Студент: Королев Д.А.</p>
				<p>Группа: M80-411Б-18</p>
				<p>Преподаватель: Романенков А.М.</p>
			</div>
		</div>
	</div><!-- container -->
</section>