@{
	Layout = "_Layout";
}

<!-- PRELOADER -->
<div class="preloader">
	<div class="preloader_container">
		<div class="📦"></div>
		<div class="📦"></div>
		<div class="📦"></div>
		<div class="📦"></div>
		<div class="📦"></div>
	</div>
</div>

<!-- HEADER -->
<header class="header" id="header">
	<div class="container">
		<div class="header_inner">
			<div class="header_logo" data-scroll="#intro" id="blended-text">Soothsayer</div>

			<nav class="nav" id="nav">
				<a class="nav_link" href="#" data-scroll="#about">О проекте</a>
				<a class="nav_link" href="#" data-scroll="#technologies">Что мы используем</a>
				<a class="nav_link" href="#" data-scroll="#contact">Контакты</a>
				<a class="button_nav_link" asp-controller="Upload" asp-action="Index">К распознаванию</a>
			</nav>

			<button class="nav_toggle" id="nav_toggle" type="button">
				<span class="nav_toggle_item">Menu</span>
			</button>

		</div>
	</div>
</header>

<!-- PAGE -->
<div class="page">

	@RenderBody()

	<footer class="footer" id="contact">
		<div class="container">
			<div class="copyright">
				© 2022     Soothsayer by <a href="https://github.com/Vice-Inc">Vice</a>
			</div>
		</div>
	</footer>

</div><!-- page -->