@{
	Layout = "_LayoutWithSmallHeader";
}

<div class="intro" id="intro">
	<div class="container">
		<div class="block_404">

			<div class="numbers">
				<div class="numbers__item numbers__item_1">4</div>
				<div class="numbers__item numbers__item_2">0</div>
				<div class="numbers__item numbers__item_3">4</div>
			</div>

			@RenderBody()

		</div>
	</div><!-- container -->
</div><!-- intro -->